#Produto {
    width: 100%;
    height: 112px;
    border-radius: 8px;
    gap: 8px;
    padding: 10px;
    outline: 1px solid #F0F0F0
}
#ProdutoImg {
    border-radius: 8px
}
#ProdutoConteudo {
    width: 245px;
    height: 94px;
    border-radius: 8px;
    gap: 8px;
    padding: 10px
}
img {
    width: 110px;
    height: 94px;
    outline: 1px solid #F0F0F0;
    border-radius: 10px;
    background-size: cover;
}
#ProdutoAction {
    height: 94px;
    border-radius: 8px;
    gap: 8px;
    padding: 10px
}
p{
    font-family: roboto;
}